* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.container{
    width: 100%;
    height: 640px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.app {
    width: 470px;
    height: 315px;
    margin-top: 100px;
    border: 2px solid black;
    border-radius: 20px;
}
.header{
    background: rgb(91, 120, 16);
    color: black;
    width: 450px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 8px;
    border: 2px solid black;
    border-radius: 20px;
}
.header-clicked{
    background: black;
    color: white;
    width: 450px;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 10px;
    border-radius: 20px;
    border: 2px solid red;
}
.container2{
    width: 450px;
    height: 210px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border: 2px solid black;
    border-radius: 20px;
    margin-left: 8px;
}
.block{
    width: 230px;
    height: 180px;
    background: orange;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 2px solid black;
    border-radius: 20px;
}
.block-clicked{
    width: 230px;
    height: 180px;
    background: red;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid black;
    border-radius: 20px;
}
.ul{
    width: 180px;
    height: 180px;
    list-style-type: none;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ul>li{
    color: red;
}
.ul-clicked{
    width: 180px;
    height: 180px;
    list-style-type: none;
    border: 2px solid black;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.ul-clicked>li{
    color: blue;
}
.headerH{
    background: red;
    transition: 0.5s;
}
.headerH-clicked{
    background: blue;
}